{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}
<div class="portfolio">
    <h1>PORTFOLIO</h1>

    <section class="project_index_container">
        {% for project in projects %}
            <figure class="project_index_figure">
            <a href="{{ path("project_show", { id: project.id }) }}"></a>
            <img src="{{ asset('build/images/visual.png') }}" alt="{{ project.name }}">
                <figcaption class="project_index_figcaption">
                    <p>{{ project.link }}</p>
                </figcaption>
                <p class="project_index_p">{{ project.description }}</p>
            </figure>
        {% else %}
            <p>Pas encore de projet ajouté</p>
        {% endfor %}
    </section>

    <a href="{{ path('project_new') }}">Ajouté un projet</a>
</div>
{% endblock %}
