{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}
<div class="portfolio">
    <h1>PORTFOLIO</h1>

    <section class="project_index_container">
        {% for project in projects %}
            <figure class="project_index_figure">
            <a href="{{ path("project_show", { id: project.id }) }}">{{ 'See the notice'|trans }}</a>
            <img src="{{ asset('build/images/visual.png') }}" alt="{{ project.name }}">
                <figcaption class="project_index_figcaption">
                    <p>{{ project.name }}</p>
                    <p>{{ 'Category'|trans }} : {{ project.name }}</p>
                </figcaption>
                <p class="project_index_p">{{ project.name }}</p>
            </figure>
        {% else %}
            <p>{{ 'No series found'|trans }}.</p>
        {% endfor %}
    </section>

    <a href="{{ path('project_new') }}">Create new</a>
</div>
{% endblock %}
